<!-- {% extends "blog/base.html" %} -->

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}



<a class="btn btn-secondary" id="btn12">Comments</a>

</article>


<div class="border-0 border-start border-2 ps-2" id="{{comment.id}}">
    <div>
        <strong>{{comment.name}}</strong>
        {% if  comment.parent.name%} to <strong>{{comment.parent.name}}</strong>{% endif %}
    </div>
    
        <p>{{comment.body}}</p>
        
        
        <form method="POST" class="comments" id="comnt" >
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="save btn btn-secondary" style="margin-right:600px ;">Save</button>
        </form>
    
    

    
    
    {% for comment in comments %}
    <div class="comment">
        <p class="info" ><b>{{ comment.name|upper }}</b></p>
        {{ comment.body|linebreaks }}
    




        {% for replay in comment.replies.all %}
        <p class="info" style="margin-left:25%"><strong>{{ replay.name|capfirst }}</strong>  {{ replay.body }}</p>
        {% endfor %}

        <form class="reply-form" method="POST" id="rep">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <button type="submit" class="save1 btn1 btn1-secondary" style="margin-right:600px ;">Save</button>
        
        </form>
        <input class="btn btn-primary replyb{{ forloop.counter }}" type="submit" value="Replay" id="btn11" style="margin-left:450px ;">
    </div>    
</div>



{% endfor %}





<!-- {% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
      {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
  </div>
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}

{% if new_comment %}
  <h2>Your comment has been added.</h2>
{% else %}
  <h2>Add a new comment</h2>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
  </form>
{% endif %}


{% for reply in comment.reply.all %}
  <div class="reply">
    <p class="info2">
      reply by {{ reply.name }}
    </p>
    {{ reply.body|linebreaks }}
  </div>
  {% empty %}
  <p>There are no reply yet.</p>
{% endfor %}


{% if new_reply %}
  <h2>Your reply has been added.</h2>
{% else %}
  <h2>Reply Here!</h2>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add reply"></p>
  </form>
{% endif %} -->