{% extends 'blog/base.html' %}
{% block content %}   
    <form method="Post" action=" ">{% csrf_token %}
        <input placeholder="search here" type="search" name="search_filter">
        <input type="submit" name="" id="" value="search">
    </form>
    <br>   

    <div class="row">
        {% for post in page_obj %}
        <div class="col-sm-6 my-3">
          <div class="card">
            <div class="card-body">
                <article class="post">
                    <time class="date">
                        {{ post.published_date }}
                    </time>
                    <div class="featured_image">
                        
                        <img src="{{ post.image.url }}" class="rounded featured-image-list" alt="Loading! Please wait !" style="height: 100px; width: 100px;">
                        
                    </div>
                    <h2><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
                    <p>Created By : {{ post.author|linebreaksbr }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <h5>Category : <a href="{% url 'category_list' slug=post.slug %}">{{ post.category|linebreaksbr }}</a></h5>
                </article>
            </div>
          </div>
        </div>
    <!-- <article class="post">
        <time class="date">
            {{ post.published_date }}
        </time>
        <div class="featured_image">
            
            <img src="{{ post.image.url }}" class="rounded featured-image-list" alt="Loading! Please wait !" style="height: 100px; width: 100px;">
            
        </div>
        <h2><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
        <p>Created By : {{ post.author|linebreaksbr }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        <h5>Category : <a href="{% url 'category_list' slug=post.slug %}">{{ post.category|linebreaksbr }}</a></h5>
    </article> -->
    {% empty %}
    <p>No data found</p>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
 {% endblock %}