{% extends 'blog/base.html' %}
{% block content %}      
    {% for post in posts %}
    <article class="post">
        <time class="date">
            {{ post.published_date }}
        </time>
        <div class="featured_image">
            
            <img src="{{MEDIA_URL}}{{ image.url }}" class="rounded featured-image-list" alt="Loading! Please wait !">
            
        </div>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <h5>Category : {{ post.category|linebreaksbr }}</h5>
    </article>
    {% endfor %}
 {% endblock %}