{% extends 'blog/base.html' %}
{% block content %}   
    <form method="Post" action=" ">{% csrf_token %}
        <input placeholder="search here" type="search" name="search_filter">
        <input type="submit" name="" id="" value="search">
    </form>
    <br>   
    {% for post in post %}
    <article class="post">
        <time class="date">
            {{ post.published_date }}
        </time>
        <div class="featured_image">
            
            <img src="{{ post.image.url }}" class="rounded featured-image-list" alt="Loading! Please wait !" style="height: 100px; width: 100px;">
            
        </div>
        <h2><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
        <p>Created By : {{ post.author|linebreaksbr }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        <h5>Category : {{ post.category|linebreaksbr }}</h5>
    </article>
    {% empty %}
    <p>No data found</p>
    {% endfor %}
 {% endblock %}