{% extends "blog/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<aside style="margin-left: 1000px;" class="actions">
  <a class="btn btn-secondary" href="{% url 'profile' %}">
      {% include './icons/pencil-fill.svg' %}
  </a>
</aside>
    <div class="row my-3 p-3">
        <img class="rounded-circle account-img" src="{{ user.avatar.url }} " style="width: 200px; height: 200px; margin-left: 100px; " />
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Username :</label>
                            {{ user_form.user }} <br>
                        <label class="small mb-1">Email :</label>
                            {{ user_form.user.email }} <br>
                          <label class="small mb-1">Bio :</label>
                            {{ user_form.bio }} <br>
                          <label class="small mb-1">countary :</label>
                            {{ user_form.user.country }}
                    </div>
                </div>
            </div>
            <br><br>
        </form>
    </div>
{% endblock content %}